*.hdf5
*.pyc
*.wav
__pycache__
*/__pycache__
_logs
*.pth
.vscode
.env
# data and models
data/*
models/*
# gitignore related
..gitignore.swp
# pytest-cov related
.pytest_cache
.coverage
*.egg-info
datasets/*
